<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>SemiPJ_PetP</display-name>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <context-param>
  	<param-name>url</param-name>
  	<param-value>jdbc:oracle:thin:@localhost:1521:xe</param-value>
  </context-param>
  
  <servlet>
  	<servlet-name>Petstagram</servlet-name>
  	<servlet-class>com.petp.controller.BoardServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>Petstagram</servlet-name>
  	<url-pattern>/BoardServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>Newscon</servlet-name>
  	<servlet-class>com.petp.controller.NewsController</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>Newscon</servlet-name>
  	<url-pattern>/Newscon.do</url-pattern>
  </servlet-mapping>  
  
  <servlet>
    <servlet-name>ChatSubmitServlet</servlet-name>
    <servlet-class>chat.ChatSubmitServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>ChatSubmitServlet</servlet-name>
    <url-pattern>/chatSubmitServlet</url-pattern>
  </servlet-mapping>
 
 <servlet>
    <servlet-name>ChatListServlet</servlet-name>
    <servlet-class>chat.ChatListServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>ChatListServlet</servlet-name>
    <url-pattern>/chatListServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>MemberServle</servlet-name>
    <servlet-class>com.petp.controller</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>MemberServlet</servlet-name>
    <url-pattern>/member.do</url-pattern>
  </servlet-mapping>
  
</web-app>